com.byd.bydautolink*
.env
.env.local
.env.*.local
*.apk
class*
dumps.txt
main.go
#decompile.js
apk/
decodePayload.js
byd-api-crypto.js
#samples/
AGENTS.md
.codex/
byd/*
status.html

# Docker
.dockerignore
docker-compose.override.yml
.docker/
